<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyBatisPackage.mapper.CompetenceAverageMapper">

	<select id="getAllCompetenceAverageByCIP" parameterType="Map" resultType="MyBatisPackage.model.CompetenceAverage">
		SELECT
		cours_id as idCours,
		groupe_id as groupe_id,
		trimestre_id as trimestre_id,
		cip_etudiant as cipEtudiant,
		competence_id as idCompetence,
		total as total,
		moyenne as moyenne
		FROM PUBLIC_VIEWS.COMPETENCERESULTAVG
		WHERE CIP_ETUDIANT = #{cip_etudiant}
		AND cours_id = #{cours_id}
		AND groupe_id = #{groupe_id}
		AND trimestre_id = #{trimestre_id}
	</select>

	<resultMap type="CompetenceAverage" id="CompetenceAverageResultSet">
		<id property="cipEtudiant" column="cip_etudiant" />
		<result property="idCours" column="cours_id" />
		<result property="groupe_id" column="groupe_id" />
		<result property="trimestre_id" column="trimestre_id" />
		<result property="idCompetence" column="competence_id" />
		<result property="total" column="total" />
		<result property="moyenne" column="moyenne" />
		
	</resultMap>

	
</mapper>
