<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyBatisPackage.mapper.SessionAverageMapper">

	<select id="getAllSessionByCIP" parameterType="String" resultType="MyBatisPackage.model.SessionAverage">
		SELECT cip_etudiant as cipEtudiant,
		trimestre_id as trimestre_id,
		total as total,
		moyenne as moyenne,
		coteindividuelle as coteindividuelle,
		cotemoyenne as cotemoyenne
		FROM PUBLIC_VIEWS.SESSIONRESULTAVG
		WHERE CIP_ETUDIANT = #{cipEtudiant}
	</select>

	<resultMap type="SessionAverage" id="SessionAverageResultSet">
		<id property="cipEtudiant" column="cip_etudiant" />
		<result property="total" column="total" />
		<result property="moyenne" column="moyenne" />
		<result property="trimestre_id" column="trimestre_id" />
		<result property="coteindividuelle" column="coteindividuelle" />
		<result property="cotemoyenne" column="cotemoyenne" />
		
	</resultMap>

	
</mapper>
