html{
	
	background-image: url("../images/imgback.jpg");
	opacity: 0.4;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: center;
	background-height: 100%;
	background-width: 100%;
	z-index = 1;
	}
	
.content{
	z-index = 2;
}
