<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyBatisPackage.mapper.ClassAverageMapper">

	<select id="getClassAverageByCIPAndCoursId" parameterType="map" resultType="MyBatisPackage.model.ClassAverage">
		SELECT
		cours_id as idCours,
		cip_etudiant as cipEtudiant,
		total as total,
		moyenne as moyenne,
		coteindividuelle as coteIndividuelle,
		cotemoyenne as coteMoyenne
		FROM GRADES.COMPARISONRESULTAVG
		WHERE CIP_ETUDIANT = #{cip}
		AND cours_id = #{coursId}
	</select>

	<resultMap type="ClassAverage" id="ClassAverageResultSet">
		<id property="cipEtudiant" column="cip_etudiant" />
		<result property="idCours" column="cours_id" />
		<result property="total" column="total" />
		<result property="moyenne" column="moyenne" />
		<result property="coteIndividuelle" column="coteindividuelle" />
		<result property="coteMoyenne" column="cotemoyenne" />
		
	</resultMap>

	
</mapper>
